includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app/
    - database/
    - routes/

  level: 6

  ignoreErrors:
    - identifier: missingType.iterableValue

  excludePaths:
    - app/Http/Middleware/
